<div class="footer">
  <div class="container-fluid">
    <div class="links row">
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/products">PRODUCTS</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/salon-software">SALON SOFTWARE</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/elearning">ELEARNING</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/promotions">PROMOTIONS</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/business">BUSINESS SYSTEM</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/education">EDUCATION</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/about">ABOUT US</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/contact">CONTACT</a></li>
      <li class="col-lg-1 col-md-4 col-12 text-center p-0"><a href="/order">ORDER</a></li>
    </div>
    <div class="social-media mx-0 row ">
      <div class="images pt-0 col-md-12 col-lg-12 col-xl-12">
        <a href="https://www.facebook.com/evolvesalonsystems"><img  src="{{'images/icons/facebook-footer.svg' | asset_url}}"></a>
        <a href="https://www.instagram.com/evolvesalonsystems/"><img src="{{'images/icons/instagram-footer.svg' | asset_url}}"></a>
        <a href="https://www.snapchat.com/add/evolve_ss"><img src="{{'images/icons/snapchat-footer.svg' | asset_url}}"></a>
        <a href="https://plus.google.com/113177942398414855417"><img src="{{'images/icons/gplus-footer.svg' | asset_url}}"></a>
      </div>
    </div>
    <div class="copyright row">
      <p>© {{'today' | date: '%Y'}} Evolve Salon Systems. All right reserved</p>
    </div>
  </div>
</div>