<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="{{form_authenticity_token}}" name="csrf-token">
<meta content="authenticity_token" name="csrf-param">
<meta name="description" content="{{desc}}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ 'images/brand/favicon.png' | asset_url }}">
<link rel="stylesheet" media="screen" href="{{ 'styles/vendor.css' | asset_url }}">
<link rel="stylesheet" media="screen" href="{{ 'styles/app.css' | asset_url }}">

<title>{{pagetitle}}</title>
