{%- query_graph 'get_promotions', result_name: g, featured: "true" -%}
{%- assign data = g.customizations.results[0].properties -%}

<div class="homepage__promotion-section">
  <div class="row">
    <div class="promotion col-md-6 col-sm-12 col-lg-4">
      <h1>{{meta.title}}</h1>
      <div class="date">
        <div class="icon"><img src="{{'images/icons/calendar.svg' | asset_url}}"></div>
        {{meta.date}}
      </div>
      <div class="description">
        {{meta.description}}
      </div>
      <button class="button-wide ml-0 mt-0"><a class="border-none" href="{{data.detail_link}}">MORE INFO</a></button>
    </div>
    <div class="image-wrapper col-lg-4 col-sm-12 col-md-6">
      <img src="{{meta.imageUrl}}">
    </div>
  </div>
    <a class="view-all" href="/promotions">{{meta.viewAllPromotions}}</a>
</div>