<div class="homepage__social-section">
  <div class="left-section">
    <div class="text-section">
      <h1>{{meta.title}}</h1>
      <p>{{meta.description}}</p>
    </div>
    <div class="link-row">
      <button><img src="{{'images/icons/facebook.svg' | asset_url}}"></button>
      <button><i class="fab fa-instagram"></i></button>
      <button><img src="{{'images/icons/snapchat.svg' | asset_url}}"></button>
      <button><img src="{{'images/icons/gplus.svg' | asset_url}}"></button>
    </div>
  </div>
  <div class="right-section">
    <div class="background"></div>
    <div class="image-wrapper" style="background-image: url({{meta.imageUrl}})">

    </div>
  </div>
</div>
