---
slug: /
layout_name: 2col
metadata:
  title: Home Page
---
{%- query_graph 'get_gallery_items', result_name: 'g' -%}
<script>console.log({{g|json}})</script>
{%- assign data = g.customizations.results[0].properties -%}
<div class="homepage__top-gallery">
  <div class="left-section">
    <div class="bg-circle"></div>
    <img src="{{data.image_url}}">
  </div>
  <div class="right-section">
    <div class="text-section">
      <div class="index">{{data.index}}</div>
      <div class="title">{{data.title}}</div>
      <div class="description">{{data.description}}</div>
      <button>Details</button>
    </div>
    <div class="dots">
      {%- for page in (1..4) -%}
        <div class="dot" onclick="dosomething();"></div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% render_form 'gallery_item', resource_type: 'gallery_item' %}
