---
name: reset_password
resource: User
resource_owner: anyone
redirect_to: /account/profile
flash_notice: Your password has been updated. You can now log in.
configuration:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
  password_confirmation:
    property_options:
      virtual: true
authorization_policies:
  - token_is_valid
---
{%- assign f = form_builder -%}
<form action="{{f.action}}" method="{{f.method}}">
  <input name="token" value="{{ params.token }}" type="hidden">
  <input name="email" value="{{ form.email }}" type="hidden">
  {% include 'forms/fieldGroup', field: f.fields.password, type: 'password', label: 'New Password' -%}
  {% include 'forms/fieldGroup', field: f.fields.password_confirmation, type: 'password', label: 'Confirm New Password' -%}
  {% include 'forms/systemFields', fields: f.system_fields -%}
  <button type="submit" class="button">Reset Password</button>
</form>

<p>Automated form:</p>
{% form %}
  <input name="token" value="{{ params.token }}" type="hidden">
  <input name="email" value="{{ form.email }}" type="hidden">
  {% input 'password' %}
  {% input 'password_confirmation' %}
  {% submit 'Reset Password' %}
{% endform %}
