{% assign _errors = field.validation.errors %}

<div class="form-group form-check">
  <input type='hidden' name='{{ field.name }}' value="">

  <input
    type="checkbox"
    class="form-check-input {% if _errors != empty %}is-invalid{% endif %}"
    name="{{ field.name }}"
    id="{{ field.name }}"
    value="1"
    {% if field.value == '1' %}checked{% endif %}
  >

  <label class="form-check-label" for="{{ field.name }}">
    {{ label }}
  </label>

  {% if _errors != empty %}
    <div class="invalid-feedback">
      {{ _errors | join: ', ' }}
    </div>
  {% endif %}
</div>
