{% comment %} <div class="flex-center">
  <div>
    <h1>{{meta.title}}</h1>
    <h2>{{meta.description}}</h2>
    <button class="medium">SIGN IN</button>
  </div>
  <img src="{{meta.imageUrl}}" style="width:500px;">
</div> {% endcomment %}
<div class="order-section container">
  <div class="row"> 
    <div class="left-section col pr-0">
      <div class="text-section">
        <h1>{{meta.title}}</h1>
        <p class="description">{{meta.description}}</p>
        <button class="button-wide">SIGN IN</button>
      </div>
    </div>
    <div class="right-section pl-0" style="background-image: url({{meta.imageUrl}});"></div>
  </div>
</div>